<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>Check device</title>
  <style>
    div > div {
      border: 0px solid grey;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row ">
      
      <div class="col-12 m-0 p-0">
        <div class="fs-3 text-center bg-success text-white p-2">ตารางเช็คอุปกรณ์ก่อนออกอากาศ</div>
      </div>

      <div class='col-12 d-inline p-2'>
        <div class="p-2">ONAIR</div>
        <div class="btn-group w-100" role="group">
          <span class="input-group-text ">STATUS</span>
          <input type="radio" class="btn-check" name="btnradio-1" id="btnradio-1" autocomplete="off" checked>
            <label class="btn btn-outline-success" for="btnradio-1">OK</label>
          <input type="radio" class="btn-check" name="btnradio-1" id="btnradio-2" autocomplete="off">
            <label class="btn btn-outline-danger" for="btnradio-2">FAIL</label>
        </div>
      </div>

      <div class='col-12 d-inline p-2'>
        <div class="p-2">C-Band</div>
        <div class="btn-group w-100" role="group">
          <span class="input-group-text ">STATUS</span>
          <input type="radio" class="btn-check" name="btnradio-2" id="btnradio-3" autocomplete="off" checked>
            <label class="btn btn-outline-success" for="btnradio-3">OK</label>
          <input type="radio" class="btn-check" name="btnradio-2" id="btnradio-4" autocomplete="off">
            <label class="btn btn-outline-danger" for="btnradio-4">FAIL</label>
        </div>
      </div>

      <div class='col-12 d-inline p-2'>
        <div class="p-2">Ku-Band</div>
        <div class="btn-group w-100" role="group">
          <span class="input-group-text ">STATUS</span>
          <input type="radio" class="btn-check" name="btnradio-3" id="btnradio-4" autocomplete="off" checked>
            <label class="btn btn-outline-success" for="btnradio-4">OK</label>
          <input type="radio" class="btn-check" name="btnradio-3" id="btnradio-5" autocomplete="off">
            <label class="btn btn-outline-danger" for="btnradio-5">FAIL</label>
        </div>
      </div>
 

      <div class='col-12 d-inline p-2 d-flex justify-content-between '>
        <span class="p-2">Audio Loudness Control (-23 LUFS)</span>
        <div class="btn-group  " role="group">
          <span class="input-group-text">Level</span>
            <input type="text" class="form-control">
          <span class="input-group-text">LUFS</span>
        </div>
      </div>

      <div class='col-12 d-inline p-2 bg-dark'>
       <div class='p-2 text-white'>Master Sync/ Clock Reference</div>
       <div class="btn-group w-100 mb-1" role="group">
        <span class="input-group-text ">MODE</span>
          <input type="radio" class="btn-check" name="btnradio-7" id="btnradio-13" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio-13">AUTO</label>
          <input type="radio" class="btn-check" name="btnradio-7" id="btnradio-14" autocomplete="off">
          <label class="btn btn-outline-danger" for="btnradio-14">MANUAL</label>
       </div>
       <div class="btn-group w-100" role="group">
        <span class="input-group-text">SOURCE</span>
          <input type="radio" class="btn-check" name="btnradio-8" id="btnradio-15" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio-15">PRIMARY</label>
          <input type="radio" class="btn-check" name="btnradio-8" id="btnradio-16" autocomplete="off">
          <label class="btn btn-outline-danger" for="btnradio-16">BACKUP</label>
        </div>
      </div>
    
    </div> <!-- row -->
  </div> <!-- container -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>