<% include header.html %>
<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 pt-1">
				<h2>LOTTO <span class="lottolucky88-color-01"> LUCKY </span><span class="lottolucky88-color-02">88</span></h2>
			</div>
			<div class="col-lg-8 pt-1"></div>
		</div>
	</div>
	</div>
</header>
<main>
	<!-- main -->
	<div class='container'>
		<div class="lottolucky88-wrap">
			<div class=''>
				<div class='alert alert-danger alert-error'>
					<h4>We are so sorry!!!</h4>
					<b>Error: page is not found 404...</b>
					<hr>
					<b>Please you click back here.
						<button><a href='/'>Click</a></button></b>
				</div>
			</div>
		</div>
	</div>
</main>
<% include footer.html %>