<!-- <!doctype html>
<html>
<head>
	<meta charset='utf-8'/>
	<title>Lottery Lucky</title>
	<link rel='stylesheet' href='/lottery-theme/lottery-style.css'>
	<style>
	.alert-error{
		background: #dd2233;
		color: #ffffff;
	}
	</style>
</head>
<body> -->
<% include header.html %>
<header>
	<!-- header -->

</header>
<main>
	<!-- main -->
	<div class='container'>
		<div class=''>
			<div class='alert alert-danger alert-error'>
				<h4>WE ARE SO SORRY!!!</h4>
				<P>THIS IS A PAGE NOT FOUND...</P>
				<hr>
				<p>Please you click back here.
					<button><a href='/'>Click</a></button></p>
			</div>
		</div>
	</div>
</main>

<% include footer.html %>
<!-- </body>
</html> -->