<% include header.html %>
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 pt-1">
        <h2>LOTTO <span class="lottolucky88-color-01"> LUCKY </span><span class="lottolucky88-color-02">88</span></h2>
      </div>
      <div class="col-lg-8 pt-1">
        <div class="lottolucky88-wrap-header">
          <form method="post" class="form-inline">
            <input name="name" placeholder="Username" class="form-control mx-1" autofocus required>
            <input name="password" type="password" placeholder="Password" class="form-control mx-1" required>
            <button class="lottolucky88-btn-login btn-sm mx-1">Log in</button>
            <input type="checkbox"><label class="form-check-label mx-1" for="exampleCheck1">Remember</label>
            <button class="btn-sm mx-1 lottolucky88-btn-register"><img src="/lock-24px.svg" width="20" height="20"
                class="d-inline-block align-top">Register</button>
            <a href="/login" class="lottolucky88-btn-forgotpwd mx-1">Forgot password</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="lottolucky88-wrap-content">
          <div>
            <img src="/thailand-flag-round-icon-32.png" class="pb-2">
            <hr class="lottolucky88-hr-content">
            <img src="/crown.png" width="20" height="20" class="mx-1"><b>หวยรัฐบาล</b>
            <b class="lottolucky88-date-content">1 ธันวามคม 2562</b>
          </div>
          <div class="lottolucky88-wrap-num-01">
            <h2>123456</h2>
          </div>
          <div class="d-flex justify-content-around">
            <h4>3 ตัวหน้า</h4>
            <h4>3 ตัวล่าง</h4>
            <h4>2 บนล่าง</h4>
          </div>
          <div class="d-flex justify-content-around">
            <p>123,123</p>
            <p>234,234</p>
            <p>00</p>
          </div>
        </div>
      </div>
      <div class=" col-lg-6">
        <div class="lottolucky88-wrap-content">
          <img src="/laos-flag-round-icon-32.png" class="pb-2">
          <hr class="lottolucky88-hr-content">
          <img src="/crown.png" width="20" height="20" class="mx-1"><b class="mx-1">หวยลาว</b>
          <b class="lottolucky88-date-content mx-1">2 พฤศจิกายน 2562</b>
          <div>
            <h2>123456</h2>
          </div>
          <div class="d-flex justify-content-around">
            <div>
              <h3>3 ตัวหน้า</h3>
              <h3>3 ตัวล่าง</h3>
              <h3>2 บนล่าง</h3>
            </div>
            <div>
              <h3>123,123</h3>
              <h3>234,234</h3>
              <h3>00</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center py-3">
          <h2 class="lottolucky88-mainside-left">แทงหวยวันนี้ <br>
            <span class="lottolucky88-color-01">Jackpot</span><br>
          เงินแสน</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center">
          <img src="promote_01.png" height="165" class="rounded mx-auto d-inline-block align-top">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center py-5">
              <h2 class="lottolucky88-mainside-right">$100,000</h2>
        </div>
      </div>
    </div>
  </div> -->
</main>

<% include footer.html %>