<% include header.html %>
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 pt-1">
        <h2>LOTTO <span class="lottolucky88-color-01"> LUCKY </span><span class="lottolucky88-color-02">88</span></h2>
      </div>
      <div class="col-lg-8 pt-1">
        <form method="post" class="form-inline">
          <input name="name" placeholder="Username" class="form-control mx-1" autofocus required>
          <input name="password" type="password" placeholder="Password" class="form-control mx-1" required>
          <button class="lottolucky88-btn-login btn-sm mx-1">Log in</button>
          <input type="checkbox"><label class="form-check-label mx-1" for="exampleCheck1">Remember</label>
          <button class="btn-sm mx-1 lottolucky88-btn-register"><img src="/lock-24px.svg" width="20" height="20"
              class="d-inline-block align-top">Register</button>
          <a href="/login" class="lottolucky88-btn-forgotpwd mx-1">Forgot password</a>
        </form>
      </div>
    </div>
  </div>
  </div>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">1</div>
      <div class="col-lg-4">
        <div class="text-center">
          <img src="promote_01.png" height="165" class="rounded mx-auto d-inline-block align-top">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center py-5">
              <h2 class="lottolucky88-border-img-right">$100,000</h2>
        </div>
      </div>
    </div>
  </div>
</main>

<% include footer.html %>