<% include header.html %>
<header>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h2>LOTTO <span class="lottolucky88-color-01"> LUCKY </span><span class="lottolucky88-color-02">88</span></h2>
      </div>
      <div class="col-8">
        <form>
          <input name="name" placeholder="Username">
          <input name="password" type="password" placeholder="Password">
          <button>Login</button>
        </form>

      </div>
    </div>
  </div>
  </div>
</header>
<main>
  <h1>Position Main</h1>
</main>

<% include footer.html %>