<!DOCTYPE html>
<html>

<head>
  <title>Lotto lucky88</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lottery Lucky</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/lottery-style.css"> 
</head>

<body>
  <header>
    <!-- header -->
    <!--	<div class='container-fluid'> -->
    <nav class="bg-warning">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/">หน้าแรก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/lotto-th">หวยไทย</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">หวยลาว</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">หวยเวียดนาม</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">เพิ่มรายการ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">ผูัดูแลระบบ</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">เพิ่มสมาชิก</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="badge badge-pill badge-danger">ออกจากระบบ</span></a>
        </li>
      </ul>
    </nav>
    <br>
    <!--	</div> -->
  </header>
  <main>
    <!-- main -->
    <div class='container'>
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">ชื่อตัวแทน</th>
            <th scope="col">สาขา</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  <footer>
    <!-- Footer -->
  </footer>
  <% include footer.html %>