<!doctype html>
<html>
<head>
	<meta charset='utf-8'/>
	<title>Lottery Lucky</title>
	<link rel='stylesheet' href='/lottery-theme/lottery-style.css'>
	<style>
		body{
			background-image: url('/img_08.jpg');
			background-position: center bottom;
			background-size: cover;
			height: 100vh;
			min-height: 10rem;	
	}
	</style>
</head>
<body>
	<header>
					<!-- header -->
<!--	<div class='container-fluid'> -->
<nav class="bg-warning">
<ul class="nav justify-content-end">
  <li class="nav-item">
	    <a class="nav-link active" href="/">หน้าแรก</a>
	</li>
	<li class="nav-item">
    <a class="nav-link active" href="/lotto-th">หวยไทย</a>
  </li>
 <li class="nav-item">
    <a class="nav-link active" href="#">หวยลาว</a>
  </li>
 <li class="nav-item">
    <a class="nav-link active" href="#">หวยเวียดนาม</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">เพิ่มรายการ</a>
  </li>
	<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ผูัดูแลระบบ</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">เพิ่มสมาชิก</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="badge badge-pill badge-danger">ออกจากระบบ</span></a>
  </li>
</ul>
</nav>
<br>
<!--	</div> -->
	</header>
	<main>
					<!-- main -->
<div class='container'>
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">ชื่อตัวแทน</th>
      <th scope="col">สาขา</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
	</main>
	<footer>
		<!-- Footer -->
	</footer>
<!-- <script src="/lottery-js/bootstrap.js"></script>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
