<% include header.html %>
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 pt-1">
        <h2>LOTTO <span class="lottolucky88-color-01"> LUCKY </span><span class="lottolucky88-color-02">88</span></h2>
      </div>
      <div class="col-lg-8 pt-1">
        <div class="lottolucky88-wrap-header">
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="lottolucky88-wrap-login">
      <!-- <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <h2>LOTTO <span class="lottolucky88-color-01"> LUCKY </span>
            <span class="lottolucky88-color-02">88</span></h2>
        </div> 
        <div class="p-2 bd-highlight">
          <form method="post" action="/">
            <input name="email" class="my-1" placeholder="Your email"><br>
            <input name="password" class="my-1" type="password" placeholder="Your password"><br>
            <button>Login</button><button type="reset" class="mx-1">Reset</button><br>
            <input type="checkbox"><label class="form-check-label mx-1 my-1" for="exampleCheck1">Remember</label><br>
            <img src="/lock_open-24px.svg" width="20" height="20" class="d-inline-block align-top mx-1 my-1">
            <a href="#" class="badge badge-light my-1">Forgot password</a>
          </form>
        </div>
      </div> -->
      <form method="post" action="/" class="lottolucky88-form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label name="email" for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-block lottolucky88-btn-login" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">LOTTOLUCKY88 &copy; 2019-2020</p>
      </form>
    </div>
  </div>
</main>
<% include footer.html %>