<% include header.html %>
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 pt-1">
        <h2>LOTTO <span class="lottolucky88-color-01"> LUCKY </span><span class="lottolucky88-color-02">88</span></h2>
      </div>
      <div class="col-lg-8 pt-1"></div>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="lottolucky88-cover">
      <form method="post" action="/" class="lottolucky88-form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
        <input name="email" class="form-control mb-2" placeholder="Your email" required autofocus>
        <input name="password" type="password"  class="form-control" placeholder="Your password"required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-block lottolucky88-btn-login" type="submit">Sign in</button>
      </form>
      <b class="mt-5 mb-3">LOTTO <span class="lottolucky88-color-01"> LUCKY </span><span class="lottolucky88-color-02">88</span> &copy; 2019-2020</b>
    </div>
  </div>
</main>
<% include footer.html %>