<% include header.html %>
	<header>
<!-- header -->
<!--	<div class='container-fluid'> -->
<nav class="bg-warning">
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/">หน้าแรก</a>
  </li>
	<li class="nav-item">
    <a class="nav-link active" href="#">หวยไทย</a>
  </li>
 <li class="nav-item">
    <a class="nav-link active" href="#">หวยลาว</a>
  </li>
 <li class="nav-item">
    <a class="nav-link active" href="#">หวยเวียดนาม</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">เพิ่มรายการ</a>
  </li>
	<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ผูัดูแลระบบ</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">เพิ่มสมาชิก</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="badge badge-pill badge-danger">ออกจากระบบ</span></a>
  </li>
</ul>
</nav>
<br>
<!--	</div> -->
	</header>
	<main>
	<div class="container bg-white">
  <div class="row">
    <div class="col-6 smmy-2 mt-5 text-right"><h2>รางวัลที่ 1</h2></div>
		<div class="col-2 my-2 mt-5 text-center"><h2>123456</h2></div>
    <div class="col-4 my-2 mt-5 "></div>
  </div>
 <div class="row">
    <div class="col-6 mt-3 text-right"><h2>เลขท้าย 2 ตัว</h2></div>
    <div class="col-2 mt-3 text-center"><h2>99</h2></div>
    <div class="col-4 mt-3 "></div>
  </div>
  <div class="row">
    <div class="col-6 mt-3 text-right"><h2>เลขหน้า 3 ตัว</h2></div>
    <div class="col-2 mt-3 text-center"><h2>445</h2></div>
    <div class="col-4 mt-3"><h2>998</h2></div>
  </div>
	<div class="row">
    <div class="col-6 mt-3 mb-5 text-right"><h2>เลขท้าย 3 ตัว</h2></div>
    <div class="col-2 mt-3 mb-5 text-center"><h2>363</h2></div>
    <div class="col-4 mt-3 mb-5 "><h2>008</h2></div>
  </div>
</div>
	</main>
	<footer>
		<!-- Footer -->
	</footer>

<% include footer.html %>