<% include header.html %>
<div class="container">
  <div class="lottolucky88-cover">
    <h1>Sign Up</h1>
    
    <form class="form-inline">
        <div class="form-group">
        <label>Eamil</label>
        <input name="email" placeholder="Your Email">

          <label for="inputPassword6">Password</label>
          <input name ="password" type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
          <small id="passwordHelpInline" class="text-muted">
            Must be 8-20 characters long.
          </small>
        </div>
      </form>
  </div>
</div>
<% include footer.html %>