<% include header.html %>
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 pt-1">
        <h2>LOTTO <span class="lottolucky88-color-01"> LUCKY </span><span class="lottolucky88-color-02">88</span></h2>
      </div>
      <div class="col-lg-8 pt-1"></div>
    </div>
  </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="lottolucky88-cover">
      <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <input name="email" class="form-control mb-2" placeholder="Your email" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="Your password" required>
        <button class="btn btn-lg btn-block lottolucky88-btn-signin" type="submit">Sign Up</button>
        <div class="mt-5 mb-3 text-center">
          <b>LOTTO <span class="lottolucky88-color-01"> LUCKY </span><span class="lottolucky88-color-02">88</span>
            &copy; 2019-2020</b>
        </div>
      </form>
    </div>
  </div>
</main>
<% include footer.html %>