<% include header.html %>
<main>
  <div class="container">
    <div class="lottolucky88-cover">
      <form class="form-signin" method="post" action="/register">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <label for="inputEmail" class="sr-only" name="email">Email</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Your email" required=""
          autofocus="">
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Your password"
          required="">
        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</main>
<% include footer.html %>