<% include header.html %>
<header>
  <!-- <button onclick='refresh()'>Refresh</button>
<div id='panel'></div> 
<script>
function refresh(){
  fetch('http://104.154.172.113:81/api/member')//json
  //fetch('http://www.thaigold.info/RealTimeDataV2/gtdata_.txt')
  .then(response => response.json())//json
  .then(data => { //data 1 ตัวแปร
      var panel = document.querySelector('#panel')
        for(var i of data){
        panel.innerHTML += '<button>' + i + '</button>'
      }
  })//json
}  
</script> -->

   <button onclick='read()'>Refresh</button>
   <ol id='item'></ol>

   <script>
       function read(){

           $.get('http://104.154.172.113:81/api/member').done(show)
       }

       function show(member){
           for(var i of member){
               $('#item').append('<li>'+ i.email +'</li>')
           }
       }
   </script>  
</header>
<% include footer.html %>