:root {
  --bgcolor-01: #000000;
  --bgcolor-02: #dc9202;
}
html{
  font-size: 1.0;
}
body{
  background-color: var(--bgcolor-01);
}
header {
  margin-top: 2rem;
  background: radial-gradient(circle,
            rgba(228,204,110,1) 0%, 
            rgba(57,42,0,1) 100%);
  border: 1rem solid #fcc201;
  border-radius: 1.25rem;
  width: 100%;
  height: 170px;
  color: #e2e2e2;

}
main {
  width: 100%;
}