:root {
  --bgcolor-01: #000000;
  --bgcolor-02: #dc9202;

  --bgcolor-header: radial-gradient(circle,
                  rgba(228,204,110,1) 0%, 
                  rgba(57,42,0,1) 100%);

}
html{
  font-size: 1.0;
}
body{
  background-color: var(--bgcolor-01);
}
header {
  margin-top: 0.25rem;
  background: var(--bgcolor-header);
  border: 0.15rem solid #fcc201;
  border-radius: 0.65rem;
  width: 100%;
  height: 170px;
  color: #e2e2e2;

}
main {
  width: 100%;
}

span.lottolucky88-color-01{
  color: #dc9202;
}
span.lottolucky88-color-02{
  color: #d52100;
}
.lottolucky88-wrap-header{
  /* display: inline-block;
  vertical-align: middle; */
}
.lottolucky88-btn-register{
  background: #b39319;
  color: #e2e2e2;
}
.lottolucky88-btn-forgotpwd:hover{
  text-decoration: none;
  color: #e2e2e2;
}
.lottolucky88-btn-forgotpwd:link{
  color: #cccccc;
}